<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">MEAN Authentication App</h1>
      <p>Welcome to MEAN Authentication Built From Scratches</p>
      <p><a class="btn btn-outline-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Express Backend</h2>
        <p>A minimal and flexible Node.js web application framework that provides a robust set of features for web and mobile applications.</p>
      </div>
      <div class="col-md-4">
        <h2>Angular-CLI</h2>
        <p>The Angular CLI makes it easy to create an application that already works, right out of the box. It already follows our best practices!</p>
      </div>
      <div class="col-md-4">
        <h2>JWT Token</h2>
        <p>Full Featured Authentication using JSON web tokens. Login and store user data</p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
